<h1>THE GOSSIP PROJECT<h1>
<h2>Ici, tu pourras parler sur tes copines à coeur ouvert. Fais juste attention: t'es pas anonyme.<h2>
<p>D'ailleurs, voici une liste de tous les potins jusqu'à aujourd'hui:</p>